*{
  background-color: rgb(244, 184, 163);
}

body{
  margin-top: 40px;
  margin-bottom: 60px;
  color: rgb(228, 75, 40);

}


h1{
  color: beige;
  text-align: center;
  font-size: 5em;
  padding: 20px;
}

img.topSalmon{                   
  display: block;
  margin: 0px;
}

nav{
  border-top: 4px solid salmon;
  border-bottom: 4px solid salmon;
  padding: 20px;
  text-align: center;
  list-style-type: none;
}


ul li {
  display: inline-block;
  margin: 10px; 

}

p{
  padding: 10px;
}



#salesTableText{
  font-size: 40px;
  text-indent: 10%;
  color: rgb(227, 86, 43);
  
  
  
}

table, th, td {
  box-shadow: 2px 2px 2px 2px rgb(222, 92, 22);
}

table{
  display: table-cell;
  padding: 20px;
  border: 10px solid rgb(245, 87, 70);
  /* margin: unset; */
  box-shadow: 4px 4px 4px  rgb(255, 255, 255);

}

div{
  padding: 40px;
}

tr{
  color: rgb(235, 67, 30);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.863) 20%, rgba(78, 252, 252, 0.164));
  font-size: 20px;
}

td{
  color: rgb(165, 48, 5);
  font-size: 16px;
}


#bottomSalmon{
  display: inline-block;
}


a:link {
  color: rgb(202, 206, 202);  
  text-decoration: none;
}

a:visited{
  color: rgb(245, 245, 245);
}

a:hover{
  color: rgb(201, 69, 13);
  text-decoration: underline;
}
a:active{
  color: darkred;
}